! vim:nu:ai:si:et:ts=4:sw=4:ft=xdefaults:
!
! #########################################
! SPACE COLORS
! #########################################

!urxvt*cursorColor:		#d0d0d0
!urxvt*colorIT:			#c37561
!urxvt*colorUL:			#a0a57e

! URxvt
urxvt*scrollBar:          false

!If compton not working
urxvt*transparent: false
!urxvt*shading: 10